@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1{
  @apply text-3xl font-bold mb-6 mt-6;
}

input:not([type="radio"]):not([type="checkbox"]){
  @apply border border-slate-300 rounded px-3 py-1.5 focus:border-indigo-500 duration-300;
}
